<nav class="white">
  <div class="container">
    <a href="/" class="brand-logo">Beer On Tap</a>
  </div>
</nav>
<div class="row intro">
  <div class="container" id="welcome-text">
    <h2>Welcome to Beer On Tap</h2>
    <h3>Make an informed decision</h3>
    <form action='/search' method='GET'>
      <input placeholder="What's on tap?" type="text" name="beer" id="searchbox"/>
      <button class="btn waves-effect waves-light amber darken-2" id="beer-search">Search</button>
    </form>
  </div>
<div>
