nav .brand-logo{
  font-weight: bold;
  color: #ffa000;
}

#search-header {
  color: white;
}

.row.intro {
  background-image: url('/img/cover.jpg');
  background-size: cover;
}

#welcome-text {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  color: white;
}

#searchbox {
  font-size: 3em;
}

#no-beer {
  height: 200px;
}
